.navbar-background {
    background-color: rgba(255, 255, 255, 1);
    width: 285px;
    height: 1024px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.navbar-option {
    width: 214px;
    height: 45px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.navbar-option-img {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 1;
    position: absolute;
    top: 0px;
    left: 0px;
}

.navbar-option-text {
    color: 600 (secondary_grey);
    height: auto;
    text-align: left;
    line-height: 28px;
    position: absolute;
    top: 9;
    left: 48;
    font-size: 16px;
    font-style: normal;
    font-family: DM Sans;
    font-weight: 500px;
    font-stretch: normal;
    letter-spacing: -0.02em;
}

.navbar-logo-img {
    width: 56px;
    height: 48px;
    position: absolute;
    top: 39px;
    left: 58px;
}

.navbar-logo-text {
    height: auto;
    text-align: left;
    position: absolute;
    font-stretch: normal;
    font-style: Bold;
    font-weight: 700;
    text-decoration: none;
    font-family: "Poppins";
    font-size: 26px;
    line-height: 100%;
    color: rgb(43, 54, 116);
}

.navbar-logout {
    width: 263px;
    height: 45px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 5px;
    position: absolute;
    top: 9292px;
    left: 14px;
    overflow: hidden;
}

.navbar-logout-img {
    width: 20px;
    height: 18px;
    position: absolute;
    top: 0px;
    left: 0px;
}
