@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Secular+One&display=swap');


#root {
  max-width: 1280px;
  width: 100%;
  max-width: 100%;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.team-heading{
  font-family: "DM Sans", sans-serif;
  /* font-family: "Inter"; */
  font-size: 34px;
  font-weight: 700;
  color: #2B3674;
  /* align-content: start; */
  margin-left: 80px;
  padding-top: 48px;
}

.team-subheading{
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  color: #707EAE;
  margin-left: 85px;
}

/* .team-bg{
  background-color: #F9FAFC;
  min-height: 100vh;
  min-width: 100vh;
} */

.sidebar-bg{
  background-color: #FFFFFF;
  /* margin: 0!important;
  padding: 0!important; */
  /* min-width: 290px; */
  /* max-width: 300px; */
}

.team-bg{
  background-color: #F9FAFC;
  /* min-width: 900px; */
  min-height: 100vh;
  width: 100%;
  margin: 0;
  /* max-width: 990px; */

}

.top-nav{
  background-color: #FFFFFF;
  height: 88px;
  display: flex;
  justify-content: right;
  padding-top: 20px;
  /* justify-content: space-between; */

  /* min-width: 990px; */

}

.user-button{
  /* padding-left: 1200px; */
  /* padding-left: 1100px; */
  /* padding-top: 24px; */

  /* display: flex; */
 
}


.team-table{
  padding-top: 56px;
  margin-left: 40px;
  /* max-width: 550px; */
  width: 1000px;
}

/* .team-table-cont{
  
} */

.logo-style{
  max-width: 170px;
  max-height: 50px;
}

.sidebar-style{
  justify-content: center;

}
.logo-container {
  padding-top: 35px; 
  padding-bottom: 48px;
  display: flex;
  justify-content: center;
  /* display: inline-block;  */
}

/* Sidebar.css */
.sidebar {
  width: 250px; /* Adjust width as needed */
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #f0f0f0; /* Light grey background */
  padding: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.begin-btn{
  /* padding-top:24px; */
  /* padding-left: 800px; */
  display: flex;
}

.nav-container {
  display: flex;
  height: 100vh; /* Full viewport height */
}

.side-navbar {
  flex-direction: column;
  justify-content: start;
  height: 100%;
  width: 200px; /* Adjust based on your navbar content */
  border-right: 1px solid #ccc; /* Optional: adds a border line */
}

.sidebar-space{
  padding-top: 16px;
  padding-left: 80px;
}

.sidebar-cont{
  /* display: flex; */
  justify-content: center;
}

.resources-card-cont{
  padding-top: 56px;
  margin-left: 80px;
}


.feedback-card-cont{
  padding-top: 56px;
  /* margin-left: 16px; */
}

.resources-card{
  max-width: 300px;
}

.date-card{
  max-width: 200px;
}

.auth-cont{
  display: flex;
  justify-content: flex-start;
  padding-left: 24px;
}

.fullHeightWidth {
  height: 100vh; /* Full viewport height */
  width: 100%; /* Full width */
  padding: 0 !important; /* Remove padding */
  margin: 0 !important; /* Remove margin */
}

/* In your global styles.css or similar */
[data-amplify-authenticator] {
  --amplify-components-authenticator-router-box-shadow: 0 0 16px var(--amplify-colors-overlay-10);
  --amplify-components-authenticator-router-border-width: 0;
  --amplify-components-authenticator-form-padding: var(--amplify-space-medium) var(--amplify-space-xl) var(--amplify-space-xl);
  --amplify-components-button-primary-background-color: var(--amplify-colors-neutral-100);
  --amplify-components-fieldcontrol-focus-box-shadow: 0 0 0 2px var(--amplify-colors-purple-60);
  --amplify-components-tabs-item-active-border-color: var(--amplify-colors-neutral-100);
  --amplify-components-tabs-item-color: var(--amplify-colors-neutral-80);
  --amplify-components-tabs-item-active-color: var(--amplify-colors-purple-100);
  --amplify-components-button-link-color: var(--amplify-colors-purple-80);
  --amplify-components-authenticator-modal-background-color: #0070EF;
}

/* .login-img{
  display: flex;
  justify-content: center;
  width: 210px;
  height: 70px;
} */

.image-container {
  display: flex;
  justify-content: center; /* Align items to the right */
}

.login-img {
  width: 210px;
  height: 70px;
  /* Remove any display or justify-content styles from here */
}

.login-subtitle{
  /* display: flex;
  justify-content: center; */
  padding-left: 60px;

}

.logout-btn{
  padding-top: 600px;
  padding-left: 36px;
}

.user-button .head {
  display: flex;
  gap: 20px;


  padding-bottom: 20px;
  border-bottom: 1px solid #f6f6f6;
}

.user-img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
}
.user-img img {
  width: 100%;
  object-fit: cover;
}
.user-details .title,
.menu .title {
  font-size: 10px;
  font-weight: 500;
  color: #757575;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.user-details .name {
  font-size: 14px;
  font-weight: 500;
}

.custom-gutter > [class^="col-"] {
  padding-right: 12px; /* Half of 24px because it applies to both sides */
  padding-left: 12px; /* Half of 24px */
}

.card-cont{
  max-width: 250px;
  height: 250px;
  margin-left: 80px;
  margin-top: 56px;
}

/* .card-cont2{
  max-width: 250px;
  height: 250px;
  margin-left: 0px;
  margin-top: 56px;
} */

.card-header{
  font-family: "Roboto";
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 0px;
}

.card-body{
  padding-bottom: 16px;
}

.todo-card {
  background-color: #f5f5f5; /* Light grey background color */
  border: 1px solid #ddd; /* Light border */
  border-radius: 8px; /* Rounded corners */
  padding: 12px; /* Padding inside the card */
  margin-bottom: 8px; /* Bottom margin between cards */
  display: flex; /* Flex layout for aligning items */
  align-items: center; /* Align items vertically */
}

.todo-text {
  flex-grow: 1; /* Allow text to grow and take up remaining space */
}

.todo-icons {
  display: flex; /* Flex layout for aligning icons */
  margin-left: 8px; /* Left margin between icons and text */
}

.todo-icons .icon {
  cursor: pointer; /* Add cursor pointer on hover */
  margin-right: 8px; /* Right margin between icons */
}
.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background: transparent;
  
}
/* App.css */

.flashcards-container {
  margin-top: 20px; /* Add top margin to the flashcards container */
  flex: 1;
  /* max-width: 500px;  */
  margin: 10px; /* Adjust spacing between cards */
}

/* .flashcards-container .row {
  margin-bottom: 20px; Add bottom margin to each row
} */

.flashcards-container .col {
  margin-right: 20px; /* Add right margin to each column */
}

.flashcards-container .col:last-child {
  margin-right: 0; /* Remove right margin from the last column */
}

.resources-card-cont{
  padding-top: 56px;
  margin-left: 80px;
}

.resources-card{
  max-width: 300px;
}

.feedback-card-cont{
  padding-top: 56px;
  margin-left: 16px; 
  
}
.todo-card-cont{
  margin-left: 24px;
  margin-top: 50px;
}

.card-text-title{
  font-family: "Roboto";
  font-weight: 700;

}
.card-text-subtitle{
  font-family: "Roboto";
  font-weight: 300;
}

.todo-cont{
  margin-top: 56px;
  margin-left: 80px;
}